{% load i18n %}
{% load static %}

<hr class="my-5" data-aos="fade-up" data-aos-delay="800">
<div class="mb-4" data-aos="fade-up" data-aos-delay="900">
<h4 class="fw-bold text-center mb-4">🕘 {% trans "Activity History" %}</h4>

<ul class="list-group shadow-sm border rounded-3">
  {% for act in activity_history %}
    <li class="list-group-item bg-theme text-theme">
      <strong>{{ act.get_type_display }}</strong>: {{ act.related_object_title }}<br>
      <small class="text-muted">{{ act.timestamp|date:"d.m.Y H:i" }}</small>
    </li>
  {% empty %}
    <li class="list-group-item text-muted">{% trans "No activity yet" %}</li>
  {% endfor %}
</ul>
</div>