{% load i18n %}
<div class="list-group-item mb-3 border rounded-4 p-3 bg position-relative fade-in">
    <div class="d-flex justify-content-between align-items-start mb-2">
        <strong>{{ comment.author.get_full_name }} <span class="text-muted">({{ comment.author.role }})</span></strong>
        <small class="text-muted">
            📅 {{ comment.created_at|date:"d E Y, H:i" }}
        </small>
    </div>

    <p class="mb-2">{{ comment.text }}</p>

    <div class="d-flex justify-content-between align-items-end">
        {% if comment.was_edited %}
            <small class="text-muted fst-italic">
                📝 {% trans "Редагувати" %}: {{ comment.updated_at|date:"d E Y, H:i" }}
            </small>
        {% else %}
            <span></span>
        {% endif %}

        {% if comment.author == request.user %}
            <div class="d-flex gap-2 mt-1">
                <!-- Кнопка редагування -->
                <button class="btn btn-sm btn-light rounded-circle border"
                        title="Редагувати"
                        data-bs-toggle="modal"
                        data-bs-target="#editCommentModal-{{ comment.pk }}">
                    ✏️
                </button>

                <!-- Кнопка відкриття модального вікна видалення -->
                <button type="button"
                        class="btn btn-sm btn-light rounded-circle border"
                        title="{% trans 'Delete' %}"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteCommentModal-{{ comment.pk }}">
                    🗑️
                </button>
            </div>
        {% endif %}
    </div>
</div>
