{% extends "base.html" %}

{% block title %}{{ vote.title }}{% endblock %}

{% block content %}
<h2>{{ vote.title }}</h2>
<p>{{ vote.description }}</p>
{% if request.user == vote.creator %}
    <p class="mb-1"><strong>Author:</strong> {{ vote.creator.get_full_name }} <span class="badge bg-secondary">You</span></p>
    
{% else %}
    <p class="mb-1"><strong>Author:</strong> {{ vote.creator.get_full_name }}</p>
{% endif %}

{% if vote.end_date %}
    <p><strong>Доступне до:</strong> {{ vote.end_date|date:"SHORT_DATETIME_FORMAT" }}</p>
{% endif %}
<p><strong>Статус:</strong> {{ vote.get_status_display }}</p>

<hr>

<h4>Варіанти:</h4>
<ul class="list-group mb-3">
    {% for option in options %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ option.text }}
            <span class="badge bg-primary rounded-pill">{{ option.vote_count }}</span>
        </li>
    {% endfor %}
</ul>

{% if can_vote %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Проголосувати</button>
    </form>
{% elif already_voted %}
    <div class="alert alert-info">Ви вже проголосували у цьому опитуванні.</div>
{% else %}
    <div class="alert alert-warning">Голосування ще не почалося або вже завершилось.</div>
{% endif %}

<h5 class="mt-4">Хто може голосувати:</h5>
<ul>
    {% for user in eligible_users %}
        <li>{{ user.get_full_name }} ({{ user.role }})</li>
    {% empty %}
        <li>Немає доступних учасників</li>
    {% endfor %}
</ul>


{% if request.user == vote.creator or request.user.role in "director admin" %}
    <form method="post" action="{% url 'vote_delete' vote.pk %}" onsubmit="return confirm('Ви впевнені, що хочете видалити це голосування?');">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mt-3">🗑️ Видалити голосування</button>
    </form>
{% endif %}


<a href="{% url 'vote_list' %}" class="btn btn-secondary mt-3">← Назад до списку</a>
{% endblock %}
