body.dark-mode .form-control {
    background-color: #2c2c2c !important;
    color: #f1f1f1 !important;
    border-color: #555 !important;
}

body.dark-mode .form-label,
body.dark-mode .form-check-label,
body.dark-mode .text-theme {
    color: #f1f1f1 !important;
}

body.dark-mode .form-text,
body.dark-mode .text-muted {
    color: #aaa !important;
}